.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.welcome-header {
  text-align: center;
  margin-bottom: 50px;
}

.welcome-header h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1da57a;
}

.welcome-header p {
  font-size: 18px;
  color: #666;
}
